body{
  padding: 0;
  margin: 0;
}

input, 
select,
textarea{
  border: solid 1px #ccc;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.menu-container{
  background: black;
}

.menu-container ul{
  color: white;
  padding: 0;
  margin: 0;
}
.menu-container ul li{
  display: inline;
}
.menu-container ul li a{
  color: white;
  padding: 10px;
  display: inline-block;
}

.boton-fl{
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background: black;
  position: fixed;
  color: white;
  right: 20px;
  bottom: 20px;
}
.boton-fl a{
  color: white;
  padding: 20px 25px;
  text-decoration: none;
  display: inline-block;
}

.main-container{
  margin: 15px auto;
  width: 80%;
}

#status-container{
  padding: 15px 0;
}
#status-container h2{
  font-weight: bolder;
  font-size: 24px;
}

.item{
  border: solid 1px #ccc;
  border-radius: 3px;
  display: inline-block;
  margin-right: 3%;
  margin-bottom: 15px;
  width: 22%;
  text-align: center;
  vertical-align: top;
}
.item .title{
  background-color: #eee;
  padding: 10px 0;
  border-bottom: solid 1px #ccc;
  font-weight: bolder;
}
.item .image{
  height: 150px;
  overflow: hidden;
}
.item .list-group-container .list-group-section{
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  margin-bottom: -1px;
  padding: 5px 0;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-containerr{
  padding: 15px 0;
  margin: 0;
}
.search-containerr input[type=text]{
  font-size: 15px;
  padding: 15px;
  width: 100%;
}

.detalle-container{
  border: solid 1px #ccc;
  margin: 0 auto;
  width: 70%;
}

.detalle-container #detalle-left-container{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  text-align: center;
  width: 35%;
}
.detalle-container #detalle-left-container h1{
  font-weight: bold;
  text-align: center;
}
.detalle-container #detalle-right-container{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  width: 64%;
}

#placeholder-stage-config-container{
  border: solid 1px #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
}
#placeholder-stage-config-container:hover{
  border-color: #007bff;
}

#config-stage-container{
  padding: 15px;
}

#config-stage-container .config-stage-item{
  padding: 5px 0;
}

#config-stage-container .config-stage-item span{
  font-weight: bolder;
}


.nuevo-container{
  width: 400px;
}

@media only screen and (max-width: 900px){
  .item{
    width: 30%;
  }
}

@media only screen and (max-width: 700px){
  .item{
    width: 45%;
  }
}

@media only screen and (max-width: 374px){
  .item{
    width: 100%;
  }
}
