body{
  padding: 0;
  margin: 0;
}

input, 
select,
textarea{
  border: solid 1px #ccc;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.menu-container{
  background: black;
}

.menu-container ul{
  color: white;
  padding: 0;
  margin: 0;
}
.menu-container ul li{
  display: inline;
}
.menu-container ul li a{
  color: white;
  padding: 10px;
  display: inline-block;
}

.boton-fl{
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background: black;
  position: fixed;
  color: white;
  right: 20px;
  bottom: 20px;
}
.boton-fl a{
  color: white;
  padding: 20px 25px;
  text-decoration: none;
  display: inline-block;
}

.main-container{
  margin: 15px auto;
  width: 80%;
}

#status-container{
  padding: 15px 0;
}
#status-container h2{
  font-weight: bolder;
  font-size: 24px;
}
#status-container .group{
  border: solid 1px #ccc;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.item{
  border: solid 1px #ccc;
  border-radius: 3px;
  display: inline-block;
  margin: 0 1%;
  margin-bottom: 15px;
  width: 23%;
  text-align: center;
  vertical-align: top;
}
.item .title{
  background-color: #eee;
  padding: 10px 0;
  border-bottom: solid 1px #ccc;
  font-weight: bolder;
}
.item .image{
  height: 150px;
  overflow: hidden;
}
.item .list-group-container .list-group-section{
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  margin-bottom: -1px;
  padding: 5px 0;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-containerr{
  padding: 15px 0;
  margin: 0;
}
.search-containerr input[type=text]{
  font-size: 15px;
  padding: 15px;
  width: 100%;
}

.detalle-container{
  border: solid 1px #ccc;
  margin: 0 auto;
  width: 70%;
}

.detalle-container #detalle-left-container{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  text-align: center;
  width: 35%;
}
.detalle-container #detalle-left-container h1{
  font-weight: bold;
  text-align: center;
}
.detalle-container #detalle-left-container .image{
  border-radius: 50%;
  border: solid 10px #eee;
  background-position: center center;
  background-size: 140%;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}
.detalle-container #detalle-right-container{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  width: 64%;
}

#placeholder-stage-config-container{
  color: #007bff;
  border: solid 1px #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
}
#placeholder-stage-config-container:hover{
  border-color: #007bff;
}

#config-stage-container{
  padding: 15px;
}

#config-stage-container .config-stage-item{
  padding: 5px 0;
}

#config-stage-container .config-stage-item span{
  font-weight: bolder;
}

#water-config-container, #water-config-collapsed-container{
  border: solid 1px #ccc;
  border-radius: 3px;
  margin: 10px 0;
  padding: 15px;
}

#water-config-container > div{
  display: inline-block;
}
#water-config-container div:first-child{
  width: 81%;
  margin-right: 10px;
}

.water-story-item{
  border: solid 1px #ccc;
  box-shadow: 1px 1px #eee;
  border-radius: 3px;
  margin: 15px 0;
  padding: 15px;
}
.water-story-item .icon-progress{
  color: #007bff;
  display:inline-block; 
  vertical-align: middle;

  animation-name: rotation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.water-story-item .icon-completed{
  color: #069c4a;
  display:inline-block; 
  vertical-align: middle;
}
.water-story-item .icon-completed-late{
  color: #ff0055;
  display:inline-block; 
  vertical-align: middle;
}
.water-story-item.active-late{  
  border: solid 2px #ff761b;
}
.water-story-item.active{
  border: solid 2px #007bff;
}
.water-story-item.completed-late{
  border: solid 2px #ff0055;
}
.water-story-item.completed{

  border: solid 2px #069c4a;
}
@keyframes rotation {
  from {transform:rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}
.water-story-item .date{
  display:inline-block; 
  vertical-align: middle;
  padding: 0 10px;
}



.nuevo-container{
  width: 400px;
}

/**
  * STAGE HISTORY
*/
.stage-story-item{
  border: solid 1px #ccc;
  box-shadow: 1px 1px #eee;
  border-radius: 3px;
  margin: 15px 0;
  padding: 15px;
}
.stage-story-item .title{
  text-align: center;
}

.stage-story-item .date{
  color: #aaa;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  border-bottom: solid 1px #ccc;
  padding-bottom: 15px;
}
.stage-story-item .comment{
  padding: 10px 0;
}
.stage-story-item .image img{
  border-radius: 3px;
}

@media only screen and (max-width: 850px){
  .item{
    width: 31%;
  }
}

@media only screen and (max-width: 700px){

  .main-container{
    width: 100%;
  }

  .detalle-container{
    width: 100%;
  }
  .detalle-container #detalle-left-container h1{
    font-size: 100%;
  }
}

@media only screen and (max-width: 500px){
  .detalle-container #detalle-left-container, .detalle-container #detalle-right-container{
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 450px){
  .item{
    width: 48%;
  }
}

@media only screen and (max-width: 375px){
  .detalle-container #detalle-left-container h1{
    font-size: 1.5em;
    padding: 20px 0;
  }
  .detalle-container #detalle-left-container .image{
    width: 200px;
    height: 200px;
  }
  .item{
    width: 100%;
  }

}
