body{
  padding: 0;
  margin: 0;
}
.menu-container{
  background: black;
}

.menu-container ul{
  color: white;
  padding: 0;
  margin: 0;
}
.menu-container ul li{
  display: inline;
}
.menu-container ul li a{
  color: white;
  padding: 10px;
  display: inline-block;
}

.boton-fl{
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background: black;
  position: fixed;
  color: white;
  right: 20px;
  bottom: 20px;
}
.boton-fl a{
  color: white;
  padding: 20px 25px;
  text-decoration: none;
  display: inline-block;
}

.main-container{
  margin: 0 auto;
  width: 1000px;
}

.item{
  display: inline-block;
  width: 250px;
  text-align: center;
}
.item:hover{
  background: #eee;
  border-radius: 3px;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-container{
  padding: 15px;
}
.search-container input[type=text]{
  font-size: 15px;
  padding: 15px;
  width: 100%;
}


.detalle-container #detalle-left-container{
  background: #ccc;
  display: inline-block;
  vertical-align: top;
  padding: 15px 0;
  width: 350px;
}
.detalle-container #detalle-right-container{
  display: inline-block;
  vertical-align: top;
  padding: 15px 0;
  width: 250px;
}